body {
    margin: 0;
    font-family: 'Arial', Times, serif;
    background: #181818;
    color: white;
}

#sidebar {
    width: 200px;
    height: 100vh;
    background: #222;
    position: fixed;
    padding: 20px;
}

.content {
    margin-left: 220px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
.content h2 {
    justify-self: center;
}

#sidebar a {
    display: block;
    color: #E8FF8A;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
}

#sidebar a:hover {
    background: #E8FF8A;
    color: black;
}

.playlist-box {
    background: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'Calibri', Times, serif; 
    color: #E8FF8A;
}

.track {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #E8FF8A;
    display: flex;
    flex-wrap: wrap;
}

.track img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.add-form input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    background: #222;
    border: 1px solid #E8FF8A;
    color: white;
}

.add-form button {
    padding: 10px 20px;
    background: #E8FF8A;
    border: none;
    color: black;
    cursor: pointer;
}